html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem; /** 16px **/
    line-height: 2;
}

/** Globales **/
img {
    max-width: 100%;
}
.contenedor {
    max-width: 120rem; /** 1200px */
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem; /** 38px **/
}

h2 {
    font-size: 3.4rem; /** 34px **/
}

h3 {
    font-size: 3rem; /** 30px **/
}

h4 {
    font-size: 2.6rem; /** 26px **/
}

/** Utilidades **/
.seccion {
    margin-top: 2rem; /** 20px **/
    margin-bottom: 2rem; /** 20px **/
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}
.d-block {
    display: block!important;
}
.contenido-centrado {
    max-width: 800px;
}

/** Botones **/
.boton {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem; /** 18px **/
    padding: 1rem 3rem; /** 10px(arriba y abajo) 30px(izquierda y derecha) **/
    margin-top: 3rem; /** 30px **/
    display: inline-block;
    text-align: center;
    border: none;
}
.boton:hover {
    cursor: pointer;
}
.boton-amarillo {
    background-color: #E08709;
}
.boton-verde {
    background-color: #71B100;
}

/* Header */
.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0; /** 10px arriba 0px derecha 30px abajo 0px izquierda **/
}
.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem; /** 600px **/
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem; /** 20px **/
    max-width: 60rem; /** 600px **/
    line-height: 2;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem; /** 30px **/
}

/** Navegación **/
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem; /** 18 px **/
    margin-right: 2rem; /** 20 px **/
    font-family: 'Times New Roman', Times, serif;
}
.navegacion a:hover {
    color: #71B100;
}
.navegacion a:last-of-type {
    margin-right: 0;
}

/** Iconos Nosotros **/
.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}
.icono {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}
.icono h3 {
    /** Afectará solo a los h3 que sean hijos de la clase icono **/
    text-transform: uppercase; 
}

/** Anuncios **/
.contenedor-anuncios {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.anuncio {
    flex: 0 0 calc(33.3% - 1rem); /** Sustituye a las 3 de abajo **/
    /* flex-grow: 0; */
    /*flex-shrink: 0; */
    /* flex-basis: calc(33.3% - 1rem); */
    border: 0.1rem solid #B5B5B5;
    background-color: #F5F5F5;
    margin-bottom: 2rem; /** 20px **/
}
.contenido-anuncio {
    padding: 2rem; /** 20px **/
}
.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0;
}
.precio {
    color: #71B100;
    font-weight: 700;
}
.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 50rem; /** 500px **/
    flex: 1;
}
.iconos-caracteristicas li {
    display: flex;
}
.iconos-caracteristicas li img {
    margin-right: 2rem; /** 20px **/
}
.ver-todas {
    display: flex;
    justify-content: flex-end;
}

/** Contacto Home **/
.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem; /** 400px **/
    display: flex;
    align-items: center;
}
.contenido-contacto {
    flex: 1;
    color: #ffffff;
}
.contenido-contacto p {
    font-size: 1.8rem; /** 18px **/
}

/** Sección inferior **/
.seccion-inferior {
    display: flex;
    justify-content: space-between;
}
.seccion-inferior .blog {
    flex-basis: 60%;
}
.seccion-inferior .testimoniales {
    flex-basis: calc(40% - 2rem);
}
.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem; /** 20px **/
}
.entrada-blog:last-of-type {
    margin-bottom: 0;
}
.entrada-blog .imagen {
    flex-basis: 40%;
}
.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);
}
.texto-entrada a {
    color: #000000;
    text-decoration: none;
}
.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}
.texto-entrada h4::after {
    content: '';
    display: block;
    width: 15rem; /** 150px **/
    height: .5rem; /** 50px **/
    background-color: #71B100;
    margin-top: 1rem; /** 10px **/
}
.texto-entrada span {
    color: #E08709;
}
/** Testimoniales **/
.testimonial {
    background-color: #71B100;
    font-size: 2.4rem; /** 24px **/
    padding: 2rem; /** 20px **/
    color: #ffffff;
    border-radius: 2rem; /** 20px **/
}
.testimonial p {
    text-align: right;
}
.testimonial blockquote::before {
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem; /** 40px **/
    height: 4rem; /** 40px **/
    display: block;
    position: absolute;
    left: -2rem; /** -20px **/
}
.testimonial blockquote {
    position: relative;
    padding-left: 5rem; /** 50px **/
    font-weight: 300;
}
/** Footer **/
.site-footer {
    background-color: #333333;
    margin: 0;
}
.contenedor-footer {
    padding: 3rem 0; /** 30px arriba y abajo 0px izquierda y derecha **/
    display: flex;
    justify-content: space-between;
}
.copyright {
    margin: 0;
    color: #ffffff;
}

/** INTERNAS **/
/** Nosotros **/
.contenido-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /** 2 columnas, cada una ocupa la mitad fr=fracción **/
    grid-column-gap: 2rem; /** 20px **/
}
.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem; /** 20px **/
    margin: 0;
    padding: 1rem 0 3rem 0; /** 10px arriba 0px derecha 30px abajo 0px izquierda **/
}

/** Anuncio **/
.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** Contacto **/
.contacto p {
    font-size: 1.4rem; /** 14px **/
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend {
    font-size: 2rem; /** 20px **/
    color: #4f4f4f;
}
label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),
textarea, select {
    padding: 1rem; /** 10px **/
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem; /** 20px **/
    border: none;
    border-radius: 1rem; /** 20px **/
}
input[type="radio"] {
    width: auto;
    margin: 0;
}
textarea {
    height: 20rem; /** 200px **/
}
.forma-contacto {
    max-width: 30rem; /** 600px **/
    display: flex;
    justify-content: space-between;
    align-items: center;;
}